<h2>Customise simulation</h2>
<form onsubmit="return false;" method="POST" id="post-form">
    {% csrf_token %}

    <div class="row">
        <div class="col-xl-4 col-md-6">
            <p><b>Optimisation parameter:</b></p>
            {{ transfer_form.parameter }}
        </div>

        <div class="col-xl-4 col-md-6">
            <p><b>Budget:</b></p>
            {{ transfer_form.max_budget }}
        </div>

        <div class="col-xl-4 col-md-6">
            <p><b>Number of subs:</b></p>
            {{ transfer_form.num_subs }}
        </div>
    </div>

    <div id="include-exclude">
        <div class="row">
            <div class="col-xl-4 col-md-4">
                <p><b>Select players to include <span class="custom-tooltip" data-toggle="tooltip" data-placement="top"
                            title="Enter player names here to force them into your resulting squad. This is useful if you have a hunch that a player is going to have a good week, but they aren't appearing in your results. This section can also be used to force the solver to keep 'dead' players in your team which you don't need (or want) to get rid of.">?</span>:</b>
                </p>
                {{ transfer_form.include }}
            </div>

            <div class="col-xl-8 col-md-8">
                <div class="include">
                    <br>
                    <div id="results-include"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-4 col-md-4">
                <p><b>Select players to exclude <span class="custom-tooltip" data-toggle="tooltip" data-placement="top"
                            title="Enter player names here to force them out of your results. For example, if you own a player that is injured and you specifically want to remove them from your team, then enter their name here to force them out of your squad. If the solver keeps on suggesting a player that you definitely don't want in your team, then enter their name here to force them out of the results.">?</span>:</b>
                </p>
                {{ transfer_form.exclude }}
            </div>

            <div class="col-xl-8 col-md-8">
                <div class="exclude">
                    <br>
                    <div id="results-exclude"></div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-success btn-green btn-simulation">Generate Transfers</button>
</form>